* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.mr {
  margin-right: 10px;
}

.mb {
  margin-bottom: 10px;
}

.align-items {
  align-items: center;
}

.justify {
  justify-content: center;
}

.jspace {
  justify-content: space-between;
}

.dodgerblue {
  color: dodgerblue;
}

.mr2 {
  margin-right: 30px;
}

.bw {
  font-weight: bold;
  color: #fff;
}

.main-header {
  padding: 20px 0;
}
.main-header img {
  width: 70px;
  margin-right: 100px;
}
.main-header ul li a {
  font-weight: bold;
  color: #333;
}

.first-section {
  height: 400px;
  background-image: url(../img/bg-hero-home.jpg);
  background-size: cover;
  background-position: center;
}
.first-section img {
  padding-left: 150px;
  position: absolute;
  bottom: 235px;
}

.second-section {
  background-color: black;
}

.comics-list {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.comics-list img {
  width: 200px;
  padding: 30px 30px 20px 20px;
}
.comics-list h3 {
  padding-left: 20px;
  color: #fff;
  font-size: 14px;
}

button {
  padding: 5px 30px;
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.third-section {
  padding: 20px;
  background-color: dodgerblue;
}
.third-section ul li {
  color: #fff;
  font-size: 12px;
}
.third-section ul li img {
  width: 50px;
}

.fourth-section {
  padding: 30px;
  background-color: #f3f0f0;
}

.footer-top {
  background-image: url(../img/footer-bg.jpg);
}
.footer-top .info {
  padding-top: 30px;
}
.footer-top .info ul li {
  line-height: 30px;
}
.footer-top .info a {
  color: #757474dc;
}
.footer-top .logo-footer img {
  width: 400px;
}