.footer-top {
    background-image: url(../img/footer-bg.jpg);

    .info {
        padding-top: 30px;

        ul li {
            line-height: 30px;
        }
        a {
            color: #757474dc;
        }
    }

    .logo-footer img {
        width: 400px;
    }
}